footer {
  display: flex;
  font-weight: bold;
  margin: 10px 50px 20px 50px;
  justify-content: space-between;
  border-top: 2px solid rgb(43, 6, 49);
}

footer > p, footer >a {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  footer > p {
    font-size: 1.2rem;
  }
}