.project-div {
  display: flex;
  align-items: center;
  margin: 50px;
}

.project-description {
  width: 50%;
  margin: 20px;
}

.subtitle {
  margin: 10px 0;
}

.project-img {
  width: 70%;
}

.project-img > img {
  width: 900px;
  border-radius: 15px;
  border: solid 3px rgb(43, 6, 49);
  box-shadow: 5px 5px 6px -1px #AAA;
}

.project-description > h2 {
  font-size: 2rem;
  font-weight: bold;
}

p > a {
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .project-div {
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }

  .project-img {
    width: 100%;
  }

  .project-img > img {
    width: 700px;
    margin-left: 20px;
  }

  .project-description {
    width: 90%;
    margin: 10px;
    padding-top: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .project-img > img {
    width: 300px;
    margin-left: 20px;
  }
}