@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(227, 173, 106);
  background: linear-gradient(0deg, rgb(227, 173, 106, .8) 0%, #f7f2eb 84%); 
  color: rgb(43, 6, 49);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding-top: 50px;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: rgb(43, 6, 49);
}

a:hover {
  text-decoration: underline;
}

section > h1 {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  
}

@media only screen and (max-width: 1400px) {

  section {
    padding-top: 20px;
  }

  section > h1 {
    font-size: 3rem;
  }
}